/*
  This is where your global styles go.

  Do not take that as an invitation to use lots of global styles,
  this should really only be used for those rare occasions where
  you have no other choice.
*/

body {
  background: rgb(30, 30, 35);
  color: #fff;
  text-align: center;
}

a:link, a:visited {
  color: #3BB0EA;
}
